
<%=  simple_form_for [:account, product] do |f| %>
<div class="form-inputs">
  <%= f.input :photos, as: :attachinary, required: false %>
  <%= label_tag :product_photos, "", class: "input-file-trigger", tabindex: 0 %>
  <%= f.input :name, required: false %>
  <%= f.input :description, as: :text, input_html: {rows: 5, cols: 10}, required: false %>

  <h5><strong>Value</strong></h5>
  <div class="explain-value">
  <%= image_tag "blocks/all_blocks.png" %>
    <table style="width:75%">
      <tr>
        <td>Bronze</td>
        <td>equals</td>
        <td>€0 - €50</td>
      </tr>
      <tr>
        <td>Silver</td>
        <td>equals</td>
        <td>€51 - €100</td>
      </tr>
      <tr>
        <td>Gold</td>
        <td>equals</td>
        <td>€101 or more</td>
      </tr>
    </table>
  </div>
  <%= f.select :value, [['Bronze', 1], ['Silver', 2], ['Gold', 3]], {required: false, include_blank: false}, { :class => 'btn btn-primary' } %>
</div>

<div class="form-actions">
  <%= f.submit class: 'btn btn-primary' %>
</div>

<% end %>
