<div class="matches-container">
  <% @matches.each do |match| %>
    <%= render 'match', match: match, product: match_product(match), other_product: match_other_product(match) %>
    <hr>
  <% end %>
  <div class="matches">
    <%= image_tag "rubber_duck.jpg", class:"matches-image-circle" %>
    <div class='matches-body'>
      <h3>Rubber Duck</h3>
      <div class="inline-block">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <p>My shirt</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="matches">
    <%= image_tag "sunglasses.jpg", class:"matches-image-circle" %>
    <div class='matches-body'>
      <h3>Persol Sunglasses</h3>
      <div class="inline-block">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <p>My shirt</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="matches">
    <%= image_tag "anchor.jpg", class:"matches-image-circle" %>
    <div class='matches-body'>
      <h3>Beautiful Anchor</h3>
      <div class="inline-block">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <p>My shirt</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="matches">
    <%= image_tag "rubber_duck.jpg", class:"matches-image-circle" %>
    <div class='matches-body'>
      <h3>Rubber Duck</h3>
      <div class="inline-block">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <p>My shirt</p>
      </div>
    </div>
  </div>
</div>
