<%= render 'shared/navbars/profile_arrows' %>
<div class="wrapper grey-background">
  <div class="container-fluid text-center">
    <div class="row profile-row">
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class="user-profile">
          <div class="user-picture">
            <%= cl_image_tag current_user.picture, width: 150, height: 150, class:"img-circle" %>
          </div>
          <div class="user-info">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class="profile-menu">
          <div class="boxes profile-box">
            <h2> Profile </h2>
          </div>
          <div class="boxes settings-box">
            <h2> Settings </h2>
          </div>
          <div class="boxes logout-box">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <h2> Log out </h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="products-index products-overview">
        <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
          <% @products.each do |product| %>
          <% if product.photos.any? %>
          <div class="product-card">
            <%= link_to edit_account_product_path(product), class: "product-flex" do%>
            <div class="product-card-image">
              <%= cl_image_tag product.photos.first.path, width: 325, height: 250  %>
            </div>
            <div class="product-card-content text-center">
              <h4 class="product-title">
                <%= product.name %>
              </h4>
              <p class="product-description text-left">
                <%= product.description %>
              </p>
            </div>
            <div class="product-card-extra">
              <% if product.value == 1 %>
              <%= image_tag "blocks/block_bronze.png" %>
              <% elsif product.value == 2 %>
              <%= image_tag "blocks/block_silver.png" %>
              <% else %>
              <%= image_tag "blocks/block_gold.png" %>
              <% end %>
            </div>
            <%end%>
            <%end%>
          </div>
          <%end%>
          <div class="boxes add-product-profile">
            <%= link_to new_account_product_path do%>
            <div class="add-product-profile-content">

              <div class="add-product-profile-description">
                <p>Add a product!</p>
              </div>
            </div>
            <div class="add-product-profile-image">
              <i class="fa fa-plus big-green" aria-hidden="true"></i>
            </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4">
        <div class="profile-settings">
          <%= simple_form_for [:account, @current_user], url: account_profile_path(current_user) do |f| %>

          <div class="form-inputs">
            <%= f.input :street, required: false, as: "string" %>
            <%= f.input :zip_code, required: false, as: "string" %>
            <%= f.input :city, required: false, as: "string" %>
            <%= f.input :distance_radius, label: "Distance radius (km)", required: false, collection: [5, 10, 15, 20, 25, 50, 100] %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Save Profile", class:'btn-primary' %>
          </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
