<%= render 'shared/navbars/profile_logo_chat' %>

<div class="show-page" id="product-description">
  <div class="thumbnail">
    <% if @product.photos.any? %>
    <%= cl_image_tag( @product.photos.first.path, height:350, width:350, crop: "pad", id: "product-photo") %>
    <% end %>
    <div class="caption">
      <h4><%= @product.name %></h4>
    </div>
    <div class="value text-center">
     <% if @product.value == 1 %>
     <%= image_tag "blocks/block_bronze.png" %>
     <% elsif @product.value == 2 %>
     <%= image_tag "blocks/block_silver.png" %>
     <% else %>
     <%= image_tag "blocks/block_gold.png" %>
     <% end %>
   </div>

 </div>

 <div container>
   <div row>
     <div class="col-xs-6" id="cross-button">
       <%= simple_form_for @appreciation_negative, url: product_appreciations_path(@product.id) do |f| %>
       <%= f.hidden_field :liked %>
       <%= button_tag(type: 'submit', class: "btn btn-danger smiley_options") do %>
       <i class="fa fa-times"></i>
       <% end %>
       <% end %>
     </div>
     <div class="col-xs-6" id="check-button">
       <%= simple_form_for @appreciation_positive, url: product_appreciations_path(@product.id) do |f| %>
       <%= f.hidden_field :liked %>
       <%= button_tag(type: 'submit', class: "btn btn-primary smiley_options_po") do %>
       <i class="fa fa-exchange"></i>

       <% end %>
       <% end %>
     </div>
   </div>
 </div>
</div>
</div>

<!-- Mike's work product description -->
<div class="carousel-container" type="button" id="carousel-container">
  <div id="carousel-example-generic" class="carousel slide product-description" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @product.photos.each_with_index do |photo, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%=index %>"" class="active"></li>
      <%end  %>
      <div id="go-back">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
      </div>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @product.photos.each_with_index do |photo, index| %>
      <%if index == 0 %>
      <div class="item active">
        <%else  %>
        <div class="item">
          <%end  %>
          <%= cl_image_tag photo.path, height:350, width:350, crop: "pad" %>
          <div class="carousel-caption">
          </div>
        </div>
        <%end  %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>

    <div class="product-container">
      <div class="product-name">
        <%=@product.name %>
      </div>
      <div class="product-description">
        <%=@product.description %>
      </div>
      <div class="extra-info">
        <div class="user-photo">
          <%= cl_image_tag @user.picture, class:"avatar-large" %>
          <div class="user-extra-info">
            <p>
              <%=@user.first_name %>
              <%=@user.last_name%>
            </p>
          </div>
          <div class="friends_count">
            <i class="fa fa-user" aria-hidden="true"><%=@user.friends_count%> friends</i>
          </div>
          <div class="successfull_trade">
           <i class="fa fa-check-square-o" aria-hidden="true"><%=4%> succesfull trades</i>
         </div>
       </div>
     </div>
   </div>
   <%= render 'shared/footer' %>
 </div>
</div>


<%=content_for(:after_js) do %>
<%= javascript_tag do%>
$(document).ready(function() {

$('#carousel-container').hide(); //Initially form wil be hidden.

$('#product-photo').click(function() {
$('#carousel-container').show();//Form shows on button click
$('#product-description').hide();
});

$('#go-back').click(function() {
$('#product-description').show();
$('#carousel-container').hide();
});
});
<%end %>
<%end  %>




