<div class="show-page">
  <h1>Products(walter has a mangina)</h1>

  <div class="thumbnail">
    <% if @product.photos.any? %>
      <%= cl_image_tag product.photos.first.path, height: 200 %>
    <% end %>

    <div class="caption">
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>

      <div container>
       <div row>

        <div class="col-xs-6">
         <%= simple_form_for @appreciation_negative, url: product_appreciations_path(@product.id) do |f| %>
         <%= f.hidden_field :liked %>
         <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
             <i class="fa fa-frown-o fa-3x"></i>
           <% end %>
         <% end %>
       </div>

         <div class="col-xs-6">
           <%= simple_form_for @appreciation_positive, url: product_appreciations_path(@product.id) do |f| %>
           <%= f.hidden_field :liked %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <i class="fa fa-smile-o fa-3x"></i>
            <% end %>
           <% end %>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
