<%= render 'shared/navbars/profile_logo_chat' %>
<div class="wrapper grey-background">
  <div class="container-fluid">
    <div class="row flex-row">
      <div class="card-product">
        <div class="product-swipe-flex">
          <div class="product-swipe-image">
            <% if @product.photos.any? %>
            <%= cl_image_tag(@product.photos.first.path, class:"product-image",  height:350, width:325, crop: "pad", id: "product-photo") %>
            <% end %>
          </div>
          <div class="content-flex">
           <div class="caption text-center">
            <h4 class="caption-name"><%=@product.name%></h4>
          </div>
          <div class="value">
           <% if @product.value == 1 %>
           <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is between 0 and 49€ "><%= image_tag(("blocks/block_bronze.png"), class: "value-product") %></button>
           <% elsif @product.value == 2 %>
           <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is between 50 - 99€ "><%= image_tag(("blocks/block_silver.png"), class: "value-product") %></button>
           <% else %>
           <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is 100€ and more "><%= image_tag(("blocks/block_gold.png"), class: "value-product")%></button>
           <% end %>
         </div>
       </div>
     </div>
     <%= render 'shared/footer' %>
   </div>

   <!-- Mike's work product description -->
   <div class="carousel-container" type="button" id="carousel-container">
    <div id="go-back">
      <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    </div>
    <div class="card-show-description">
      <div id="carousel-example-generic" class="carousel slide product-description" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators text-center">
          <% @product.photos.each_with_index do |photo, index| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%=index %>"" class="active"></li>
          <%end  %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @product.photos.each_with_index do |photo, index| %>
          <%if index == 0 %>
          <div class="item active">
            <%else  %>
            <div class="item">
              <%end  %>
              <%= cl_image_tag photo.path, height:350, width:325, crop: "pad", class:"product-image" %>
            </div>
            <%end  %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
      </div>
      <div class="wrapper-product">
        <div class="product-container">
          <div class="content-flex">
            <div class="product-name">
              <%=@product.name %>
            </div>
            <div class="value">
              <% if @product.value == 1 %>
              <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is between 0 and 49€ "><%= image_tag(("blocks/block_bronze.png"), class: "value-product") %></button>
              <% elsif @product.value == 2 %>
              <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is between 50 - 99€ "><%= image_tag(("blocks/block_silver.png"), class: "value-product") %></button>
              <% else %>
              <button type="button" class= "value" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The value of this product is 100€ and more "><%= image_tag(("blocks/block_gold.png"), class: "value-product")%></button>
              <% end %>
            </div>
          </div>
          <div class="product-distance">
          <% if @distance && !@distance.nan? %>
          <%= @distance.to_i %> km away
          <% end %>
          </div>
          <div class="product-show-description">
            <%=@product.description %>
          </div>
          <div class="separation"></div>

          <div class="extra-info content-flex-2">
            <div class="user-photo">
              <%= cl_image_tag @user.picture, class:"avatar-large" %>
            </div>
            <div class="user-extra-info text-inline">
              <p class="user-extra-info">
                <%=@user.first_name %>
                <%=@user.last_name %>
              </p>
            </div>
          </div>
          <div class="content-flex-3">
            <div class="friends_count">
              <p><%=@user.friends_count%> friends</p>
            </div>
            <div class="successfull_trade">
              <p><strong>|</strong>4 succesfull trades</p>
            </div>
          </div>
        </div>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<%=content_for(:after_js) do %>
<%= javascript_tag do%>
$(document).ready(function() {

$('#carousel-container').hide(); //Initially form wil be hidden.

$('#product-photo').click(function() {
$('#carousel-container').show();//Form shows on button click
$('.card-product').hide();
});

$('#go-back').click(function() {
$('.card-product').show();
$('#carousel-container').hide();
});
});
<%end %>
<%end  %>
