<div class="carousel-container" type="button" id="carousel-container">
<div id="go-back">
<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
</div>
  <div id="carousel-example-generic" class="carousel slide product-description" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @product.photos.each_with_index do |photo, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%=index %>"" class="active"></li>
      <%end  %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @product.photos.each_with_index do |photo, index| %>
      <%if index == 0 %>
      <div class="item active">
        <%else  %>
        <div class="item">
          <%end  %>
          <%= cl_image_tag photo.path, size: 350,  class: "image-card"  %>
          <div class="carousel-caption">
          </div>
        </div>
        <%end  %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>

  <div class="product-container">
    <div class="product-name">
      <%=@product.name %>
    </div>
    <div class="product-description">
      <%=@product.description %>
    </div>
    <div class="extra-info">
      <div class="user-photo">
        <%= cl_image_tag @user.picture, class:"avatar-large" %>
        <div class="user-extra-info">
          <p>
            <%=@user.first_name %>
            <%=@user.last_name%>
          </p>
        </div>
        <div class="friends_count">
          <i class="fa fa-user" aria-hidden="true"><%=@user.friends_count%> friends</i>
        </div>
        <div class="successfull_trade">
         <i class="fa fa-check-square-o" aria-hidden="true"><%=4%> succesfull trades</i>
       </div>
     </div>
   </div>
 </div>
</div>
  </div>

