<h1>Chat History:</h1>

<%= link_to 'Back', conversations_path %>

<ul>
  <% @messages.each do |message| %>
    <li>
      <p>
        <b><%= User.find(message.user_id).first_name %>:</b>
        <%= message.body %>
      </p>
    </li>
  <% end %>
</ul>

<%= simple_form_for [@conversation, @message] do |f| %>
  <%= f.input :body %>
  <%= f.submit %>
<% end %>
